// for font-awesome
@mixin f-aw($content,$fw-size: 16px) {
  content: $content;
  font-family: "Font Awesome 5 Brands","Font Awesome 5 Free";
  font-size: $fw-size;
  font-weight: 900;
  @warn "remember to use unicode for font-awesome.";
}

// for vendor prefix
@mixin vendor($property, $content) {
  -webkit-#{$property}: $content;
  -moz-#{$property}: $content;
  -ms-#{$property}: $content;
  -o-#{$property}: $content;
  #{$property}: $content;
 }

@mixin pad($pad) {
  @if $pad < 20px {
  padding: 0 #{$pad};
  }@else {
  @warn "padding cannot be more than 12px";
  padding: 0 20px;
  }
}

// __________________________________________________________________________
// Responsive mixin
@mixin responsive($width) {
  @media screen and (max-width: #{$width}){ @content; }
}

@mixin responsive-min($width) {
  @media screen and (min-width: #{$width}){ @content; }
}

/**
* font shorthand properties
* @param  {text}    Color of font
* @param  {text}    Font family of font
* @param  {text}    Font size of font
* @param  {text}    Font style of font
* @param  {text}    Font weight of font
* @param  {text}    Letter spacing of font
* @param  {text}    Font line height of font
* @param  {text}    Word spacing of font
* @return   {text}  Font property with values.
*/

@mixin font($color: inherit, $font: "Open Sans", $size: inherit, $style: null, $weight: $initial, $letter-spacing: $initial, $line-height: initial, $word-spacing: $initial,$transform:initial) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
  text-transform: $transform;
}

/**
* Background shorthand properties
* @param  {text}    Url of the Image
* @param  {text}    repeatation of the Image
* @param  {text}    position of the Image
* @param  {text}    size of the Image
* @return   {text}  background property with values.
*/
@mixin background($clr:initial,$url:null, $repeat:no-repeat, $position:initial, $size:initial) {
  background: #{$clr} url($url) $repeat $position/$size;
}

/**
* Standard media queries for max-width
* @param  {text}    Device name
* @return   {text}  media query with content.
*/
@mixin breakpoint($device) {
  @if($device == 'mac') {
    @media screen and (max-width: $mac){ @content; }
  } @else if($device == 'pc') {
    @media screen and (max-width: $pc){ @content; }
  } @else if($device == 'ipad') {
    @media screen and (max-width: $ipad){ @content; }
  } @else if($device == 'phone') {
    @media screen and (max-width: $phone){ @content; }
  } @else if($device == 'iphone') {
    @media screen and (max-width: $iphone){ @content; }
  }
}
 
 /**
 * Standard media queries for min-width
 * @param  {text}    Device name
 * @return   {text}  media query with content.
 */
 @mixin reverse-breakpoint($device) {
  @if($device == 'mac') {
    @media screen and (min-width: $mac){ @content; }
  } @else if($device == 'pc') {
    @media screen and (min-width: $pc){ @content; }
  } @else if($device == 'ipad') {
    @media screen and (min-width: $ipad){ @content; }
  } @else if($device == 'phone') {
    @media screen and (min-width: $phone){ @content; }
  } @else if($device == 'iphone') {
    @media screen and (min-width: $iphone){ @content; }
  }
}