// breakpoints
$mac: 1440px;
$pc: 1280px;
$ipad: 1024px;
$phone: 995px;
$iphone: 540px;

// media screen 
$small: "only screen and (max-width : 480px)";
$medium: "only screen and (max-width : 768px)";
$large: "only screen and (max-width : 1024px)";

/* for font colour */
$font-white: #fff;
$font-black: #000;
$font-grey: #444;
$l-grey: #888;
$white-g: #eee;
$light-grey: rgba(92, 92, 92, 0.5);
// hover color
$hov-clr: #38b;
// initial
$initial : initial;

