.banner {
  border-bottom: 1px solid #bbb;
  .wrapper {
    width: 100%;
    font-size: 0;
    @extend %wrapper;
  }
  .left-div {
    padding-top: 84px;
    font-size: initial;
    @extend %inline;
    &__head {
      padding-left: 14.5%;
      margin-bottom: 12px;
      @extend %head;
    }
    &__p {
      width: 68%;
      padding-left: 94px;
      margin-bottom: 1.9vw;
      @include font($size: 16px,$color: $font-grey,$weight: 600);
    }
  }
  .right-div {
    font-size: initial;
    @extend %inline;
  }
}

