.floorplans {
  .wrapper {
    width: 94.1%;
  }
  .top-div{
    padding-top: 2.8vw;
    &__head {
      margin-bottom: .7vw;
      @extend %head;
      @extend %padleft;
    }
    &__p {
      @extend %padleft;
      @include font($color: $font-grey, $size: 18px,$weight: 600);
    }
    .tabs {
      margin-top: 2.5vw;
      @extend %padleft;
      &__li {
        margin-right: 26px;
        display: inline-block;
        &--modifier {
          cursor: pointer;
          @include font($size: 20px,$color: $font-grey,$transform: capitalize,$weight: 600);
          @extend %hover;
        }
      }
    }
    &__img-holder{ margin-top: 1.95vw; }
  }
  .bot-div {
    background: $l-grey;
    .wrapper {
      width:97%;
      padding: 44px 0;
      position: relative;
    }
    .overlay {
      &__nav {
        width: 2%;
        position: absolute;
        top: 26%;
        cursor: pointer;
        &--left {left: 0; }
        &--right {right: 0; }
      }
      &__span {
        padding-left: 75px;
        @include font($color: $font-white,$size: 17px,$transform: capitalize,$weight: 600);
      }
    }
  }
}