.video-slider {
  .wrapper {
    width: 69.9%;
    @extend %wrapper;
  }

  .quote {
    margin-top: 95px;
    @include font($size: 38px,$line-height: 45px,$color: $font-grey,$style: oblique);
  }

  .slider {
    margin-top: 56px;
    position: relative;
    &__details {
      padding: 3.4vw 0;
      display: block;
      position: relative;
      background: $light-grey;
      @include font($color: $font-white,$size: 17px,$transform: capitalize,$weight: 600);
    }

    .wrapper {
      width: 100%;
      position: relative;
      bottom: 0;
      @extend %wrapper;
    }

    .nav {
      padding: 44px 0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background: $light-grey;
      @include font($color: $font-white,$size: 17px,$transform: capitalize,$weight: 600);
      
      &__arrow {
        width: 2%;
        position: absolute;
        z-index: 2;
        bottom: 32%;
        cursor: pointer;
        &--left { left: 2%; }
        &--right { right: 2%; }
      }

      &__details {
        padding-left: 75px;
      }
    }
  }
}