a {
  display: inline-block;
   text-decoration: none;
}

img {
  width: 100%;
  height: 100%;;
}

ul { list-style-type: none; }
.active { color: $hov-clr !important; }
.wrapper { @extend %wrapper; }
p::first-letter,
blockquote::first-letter { text-transform: capitalize; }
%vendor { @include vendor(transition,.6s); }
%padleft { padding-left: 4vw; }

%wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

%head { @include font($size: 46px,$transform: capitalize,$weight:600,$letter-spacing:-2px); }

%inline {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

%hover {
  &:hover {
    color: $hov-clr;
    @extend %vendor;
  }
}