footer {
  padding-bottom: 20px;
  background: $white-g;
  @at-root {
    .footer {
      &__col {
        margin: 2vw 0 0 5vw;
        margin-top: 50px;
        display: inline-block;
        vertical-align: top;
      }
      &__cont {
        margin-bottom: 2.35vw;
        &--head { @include font($size: 18px,$transform: capitalize); }
        &--mail {
          margin-top: 20px;
          display: block;
          @include font($size: 13px,$transform: capitalize,$color: $font-grey,$weight: 600);
          @extend %hover;
        }
        &--tel {
          margin-top: 5px;
          display: block;
          @include font($size: 13px,$transform: capitalize,$color: $font-grey,$weight: 600);
        }
      }
      .social {
        &__items {
          display: inline-block;
          a {
            padding: 13px 14px 9px 13px;
            border-radius: 50%;
            margin: 10px;
            background: $font-black;
            color: $font-white;
            text-indent: -9999px; 
            &:hover {
              background: $font-grey;
              @extend %vendor;
            }
            &::before {
              float: right;
              font-size: 20px;
              text-indent: 0;
            }
          }
          &--twitter {
            &::before { @include f-aw("\f099"); }
          }
          &--linkedin {
            &::before { @include f-aw("\f08c"); }
          }
          &--facebook {
            &::before { @include f-aw("\f39e"); }
          }
        }
      }
    }
  }
  .wrapper { width: 80%; }
}