header{
  border-bottom: 2px solid #bbb;
  .wrapper {
    width: 96%;
    padding: 12px 0 26px;
    @extend %wrapper;
  }
  h1 { 
    width: 12.5%;
    margin-right: 1.7vw; 
    display: inline-block;
  }
  nav {
    display: inline-block;
    font-size: 0;
    .list {
      font-size: initial;
      &__li {
        border-left: 1px solid #bbb;
        display: inline-block; 
        line-height: 18px;
        @include pad(20px);
      }
      
      &__li:nth-child(6) { border-right: none; }
      &__link {
        &--items {
          @include font($size: 16px, $color:$font-grey,$line-height:inherit,$letter-spacing:-.8px,$word-spacing: 1px,$weight: 600,$transform: uppercase);
          @extend %hover;
        }
      }
    }
  }

  .left-ul {
    width: 21%;
    display: inline-block;
    float: right;
    text-align: right;
    &__li {
      padding: 0 0.69vw;
      display: inline-block;
      vertical-align: top;
      &--call { width: 12%; }
      &--properties{
        width: 69%;
        border-left: 1px solid #bbb;
      }
    }
  }
}